﻿@{
    ViewData["Title"] = "Home Page";
}



<h2>Merge Cells for DataGrid</h2>
<p>Cells in DataGrid body can be merged.</p>
<div style="margin:20px 0;"></div>
<table class="easyui-datagrid" title="Merge Cells for DataGrid" style="width:100%;height:250px"
       data-options="
                rownumbers: false,
                singleSelect: true,
                iconCls: 'icon-save',
                url: '../jeasyui/datagrid_data1.json',
                method: 'get',
                onLoadSuccess: onLoadSuccess
            ">
    <thead>
        <tr>
            <th data-options="field:'donvi1',width:100">Đơn vị cấp 1</th>
            <th data-options="field:'donvi2',width:100">Đơn vị cấp 2</th>
            <th data-options="field:'thang5',width:180,align:'left'">Tháng 5</th>
            <th data-options="field:'thang6',width:120,align:'right'">Tháng 6</th>
            <th data-options="field:'thang7',width:120,align:'right'">Tháng 7</th>
            <th data-options="field:'thang8',width:120,align:'right'">Tháng 8</th>
            <th data-options="field:'thang9',width:120,align:'right'">Tháng 9</th>
            <th data-options="field:'thang10',width:120,align:'right'">Tháng 10</th>
            <th data-options="field:'thang11',width:120,align:'right'">Tháng 11</th>
            <th data-options="field:'thang12',width:120,align:'right'">Tháng 12</th>           
        </tr>
    </thead>
   
</table>

@section Scripts{
    <script type="text/javascript">
        function onLoadSuccess(data) {
            var merges = [{
                index: 0,
                rowspan: 4
            }, {
                index: 0,
                rowspan: 4
            }, {
                index: 0,
                rowspan: 4
            }];
            for (var i = 0; i < merges.length; i++) {
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'donvi1',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'donvi2',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field:  'thang6', 
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang7',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang8',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang9',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang10',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang11',
                    rowspan: merges[i].rowspan
                });
                $(this).datagrid('mergeCells', {
                    index: merges[i].index,
                    field: 'thang12',
                    rowspan: merges[i].rowspan
                });
            }
        }
    </script>
}

